{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Purge Assets plugin for Craft CMS 3.x
 *
 * Purge Assets index.twig
 *
 * @author    Bram Beekman
 * @copyright Copyright (c) 2021 Bram Beekman
 * @link      https://brambeekman.com
 * @package   PurgeAssets
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{#{% do view.registerAssetBundle("brambeekman\\purgeassets\\assetbundles\\purgeassets\\PurgeAssetsAsset") %}#}
{% do view.registerAssetBundle("brambeekman\\purgeassets\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/BramBeekman/purge-assets/blob/master/README.md" %}

{% set title = "Purge Assets" %}

{% set pluginCpUrl = url('purge-assets') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@brambeekman/purgeassets/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('purge-assets') }}</a>
    </div>
{% endset %}


{% set content %}

    <table class="fullwidth">
        <tbody>
        <tr>
            <th>
                <div class="field">
                    <div class="heading">
                        <label>{{ 'Purge Unused Assets' }}</label>
                    </div>
                    <div class="instructions">
                        <p>{{ 'Please take note that all assets will be hard deleted!'|t }}</p>
                    </div>
                </div>
            </th>
            <form id="form" action="" method="post">
                {{ csrfInput() }}
                <td>
                    <div class="field">
                        <div class="heading">
                            <label>{{ 'Run Purge'|t }}</label>
                        </div>
                        <button type="button" class="lightswitch on" role="checkbox" aria-checked="true">
                            <div class="lightswitch-container">
                                <div class="handle"></div>
                            </div>
                            <input type="hidden" name="hardDelete" value="1">
                        </button>
                    </div>
                </td>
                <td class="thin">
                    <input type="hidden" name="action" value="purge-assets/purge/purge-unused-assets">
                    <button class="btn submit" type="submit">{{ 'Purge Unused Assets'|t }}</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
    <hr>

    {% set plugin = craft.app.plugins.isPluginInstalled('commerce') %}
    {% if plugin %}
        <table class="fullwidth">
            <tbody>
            <tr>
                <th>
                    <div class="field">
                        <div class="heading">
                            <label>{{ 'Run Purge'|t }}</label>
                        </div>
                        <div class="instructions">
                            <p>{{ 'Please take note that all products will be hard deleted!'|t }}</p>
                        </div>
                    </div>
                </th>
                <form id="form" action="" method="post">
                    {{ csrfInput() }}
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ 'Hard Delete Assets'|t }}</label>
                            </div>
                            <button type="button" class="lightswitch on" role="checkbox" aria-checked="true">
                                <div class="lightswitch-container">
                                    <div class="handle"></div>
                                </div>
                                <input type="hidden" name="hardDelete" value="1">
                            </button>
                        </div>
                    </td>
                    <td class="thin">
                        <input type="hidden" name="action" value="purge-assets/purge/purge-disabled-products">
                        <button class="btn submit" type="submit">{{ 'Purge Disabled Products'|t }}</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    {% else %}
        <table class="fullwidth">
            <tbody>
            <tr>
                <th>
                    <div class="field">
                        <div class="heading">
                            <label>{{ 'Purge Disabled Products' }}</label>
                        </div>
                        <div class="instructions">
                            <p>{{ 'Please take note that all products will be hard deleted!'|t }}</p>
                        </div>
                    </div>
                </th>
                <form id="form" action="" method="post">
                    {{ csrfInput() }}
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ 'Hard Delete Assets'|t }}</label>
                            </div>
                            <button type="button" class="lightswitch on" role="checkbox" aria-checked="true">
                                <div class="lightswitch-container">
                                    <div class="handle"></div>
                                </div>
                                <input type="hidden" name="hardDelete" value="1">
                            </button>
                        </div>
                    </td>
                    <td class="thin">
                        <input type="hidden" name="action" value="purge-assets/purge/purge-disabled-products">
                        <button disabled class="btn submit" type="submit">{{ 'Purge Disabled Products'|t }}</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    {% endif %}

{% endset %}
